<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Confirm Your Email</title>
    </head>

    <body>
        <h1>GO LANCE</h1>

        <br>

        <p>
            Your activation code is: <u><b>{{ . }}</b></u>
        </p>

        <p>
            Please make sure to verify your account within <i><b>15 minutes!</b></i>
            If the code has expired, feel free to request another one.
        </p>

        <p> 
            This is an automated mail, pls don't reply.
        </p>
    </body>

</html>