package pages

import "github.com/DroidZed/my_blog/cmd/web/layouts"

templ ArticleOne(body templ.Component, title, photo string) {
	@layouts.BaseLayout(title) {
		<article>
			<header>{ title }</header>
			<section>
				@body
			</section>
		</article>
		<img src={ photo }/>
	}
}
