{
    "swagger": "2.0",
    "info": {
        "description": "This is the GoLance API documentation.",
        "title": "My Website's API Docs",
        "termsOfService": "https://droidzed.tn/terms/",
        "contact": {
            "name": "Aymen Dhahri",
            "url": "https://droidzed.tn/support",
            "email": "droid.zed77@outlook.com"
        },
        "license": {
            "name": "MIT",
            "url": "https://github.com/DroidZed/my_blog/LICENSE"
        },
        "version": "1.0"
    },
    "host": "droidzed.tn",
    "basePath": "/",
    "paths": {
        "/api/auth/login": {
            "post": {
                "description": "Get token, user basic data",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "auth"
                ],
                "summary": "Auth user",
                "parameters": [
                    {
                        "description": "Login User",
                        "name": "login",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/auth.LoginBody"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/auth.LoginResponse"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/auth.LoginResponse"
                        }
                    }
                }
            }
        },
        "/api/auth/refresh-token": {
            "post": {
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "description": "Refresh access + refresh tokens",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "auth"
                ],
                "summary": "Refresh tokens",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/auth.LoginBody"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/auth.LoginResponse"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "auth.Login": {
            "type": "object",
            "properties": {
                "email": {
                    "type": "string"
                },
                "password": {
                    "type": "string"
                }
            }
        },
        "auth.LoginBody": {
            "type": "object",
            "properties": {
                "payload": {
                    "$ref": "#/definitions/auth.Login"
                }
            }
        },
        "auth.LoginResponse": {
            "type": "object",
            "properties": {
                "accStatus": {
                    "type": "integer"
                },
                "accessToken": {
                    "type": "string"
                },
                "error": {
                    "type": "string"
                },
                "refreshToken": {
                    "type": "string"
                },
                "role": {
                    "type": "string"
                },
                "userId": {
                    "type": "string"
                }
            }
        }
    }
}