package views

import "github.com/DroidZed/my_blog/internal/views/layouts"

templ ForgotPwd() {
	@layouts.BaseLayout() {
		<h1>Forgot Password</h1>
		<h2>Fill in the form to change your password</h2>
	}
}
